.all-emp-wrapper{
    padding: 10px 10px 10px 30px;
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table td, table th{
    border: 1px solid #ddd;
    padding: 10px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover{
    background-color: #ddd;
}
table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: teal;
    color: white;
    text-align: center;
}